*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: steelblue;
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    color: white;
}
.container{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 5px;
}
