*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: steelblue;
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    color: white;
}
.container{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 5px;
}
.container h1{
    text-align: center;
    margin-bottom: 30px;
}
.container a{
    text-decoration: none;
    color: lightblue;
}
.btn{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: lightblue;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
.btn:focus{
    outline: none;
}
.btn:active{
    transform: scale(0.98);
}
p{
    margin: 15px;
}
.form-control{
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}
.form-control input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    width: 100%;
    display: block;
    padding: 8px 0;
    font-size: 15px;
    color: white;
}
.form-control input:focus,
.form-control input:valid{
    outline: none;
}