*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --left-bg-color: rgba(87, 84, 236, 0.7);
    --right-bg-color: rgba(43, 43, 43, 0.8);
    --left-btn-hover-color:  rgba(87, 84, 236, 1); 
    --right-btn-hover-color:  rgba(87, 14, 41, 1); 
    --hover-width: 70%;
    --other-width: 30%;
}
body{
    background-color: #f6f7fb;
    height: 100vh;
    display: flex;
    overflow: hidden;
}
h1{
    font-size: 4rem;
    color:white;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    white-space: nowrap;
}
.btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    border: 0.2rem solid #fff;
    color: #fff;
    font-size: 1rem;
    padding: 1.5rem;
    width: 10rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: .5s;
}
.split.left .btn:hover{
    background-color: var(--left-btn-hover-color);
    border-color: var(--left-btn-hover-color);
    transition: .5s;
}
.split.right .btn:hover{
    background-color: var(--right-btn-hover-color);
    border-color: var(--right-btn-hover-color);
    transition: .5s;
}
.container{
    width: 100%;
    height: 100vh;
    background: #333;
    position: relative;
}
.split{
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.split.left{
    left: 0;
    background: url('../images/game.jpg') no-repeat center center/cover;
}
.split.left::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--left-bg-color);
}
.split.right{
    right: 0;
    background: url('../images/game.jpg') no-repeat center center/cover;
}
.split.right::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
}
.hover-left .left{
    width: var(--hover-width);
}
.hover-left .right{
    width: var(--other-width);
}
.hover-right .right{
    width: var(--hover-width);
}
.hover-right .left{
    width: var(--other-width);
}