*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f6f7fb;
    height: 100vh;
    display: flex;
    overflow: hidden;
}
.container{
    width: 100%;
    height: 100vh;
    background: #333;
    position: relative;
}
.split{
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}