*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --left-bg-color: rgba(87, 84, 236, 0.7);
    --right-bg-color: rgba(43, 43, 43, 0.8);
}
body{
    background-color: #f6f7fb;
    height: 100vh;
    display: flex;
    overflow: hidden;
}
h1{
    font-size: 4rem;
    color:white;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.container{
    width: 100%;
    height: 100vh;
    background: #333;
    position: relative;
}
.split{
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.split.left{
    left: 0;
    background: url('../images/game.jpg') no-repeat center center/cover;
}
.split.left::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--left-bg-color);
}
.split.right{
    right: 0;
    background: url('../images/game.jpg') no-repeat center center/cover;
}
.split.right::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
}