*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}
.circle-container{
    position: absolute;
    top: 0;
    z-index: 1;
    background-attachment: fixed;
    background-color: orange;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 60%;
}