*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}
.circle-container{
    position: absolute;
    top: 0;
    z-index: 1;
    background-attachment: fixed;
    background-color: orange;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 60%;
}
.circle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#open,
#close{
    border: none;
    height: 25px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}
.container > .content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    transition: 0.8s;
    justify-self: center;
}
.container > .content > h1{
    font-size: 24px;
}
.container > .content > p{
    font-size: 15px;
}
.container > .content > h3{
    font-size: 17px;
}