* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #efedd6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1{
  margin: 10px;
}
.box{
  margin: 15px;
  padding: 15px;
  background-color: orangered;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}