* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #efedd6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}
h1{
  margin: 10px;
  color: orangered;
}
.box{
  margin: 10px;
  width: 400px;
  height: 200px;
  background-color: orangered;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
  transform: translateX(200%);
  transition: transform 0.5s ease;
}
.box:nth-of-type(even){
  transform: translateX(-200%);
  transition: transform 0.5s ease;
}
.show{
  transform: translateX(0);
  transition: transform 0.5s ease;
}