*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}
body{
    background-color: #f6f7fb;
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.container{
    text-align: center;
}
.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}
.progress-container::before{
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    left: 0;
    height: 4px;
    width: 100%;
    transition: 0.4s ease;
}
.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    left: 0;
    height: 4px;
    width: 0%;
    transition: 0.6s ease;
}
.circle{
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.6s ease;
}
.circle.active{
    border-color: var(--line-border-fill);
}
.btn{
    background-color: var(--line-border-fill);
    color: #fff;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    padding: 8px 25px;
    margin: 5px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}
.btn:active{
    transform: scale(0.98);
}
.btn:focus{
    outline: none;
}
.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}